= link_to t("variable.retry"),  questions_path(name: @category.name, random: @questions.size), class: "btn btn-outline-primary btn-sm my-3 me-3", style: "width: 45%;"
= link_to t("link.to_toppage"), root_path, class: "btn btn-outline-primary btn-sm my-3", style: "width: 45%;"