javascript:
  var ctx = document.getElementById("myBarChart");
  var myBarChart = new Chart(ctx, {
    //グラフの種類
    type: 'bar',
    //データの設定
    data: {
        //データ項目のラベル
        labels: ["文字列", "数値", "配列", "ハッシュ", "総合","応用", "正規表現"],
        //データセット
        datasets:[
              {
                backgroundColor: [
                                  "rgba(240, 96, 96, 0.5)",
                                  "rgba(81, 184, 245, 0.5)",
                                  "rgba(8, 145, 39, 0.5)",
                                  "rgba(215, 224, 0, 0.5)",
                                  "rgba(255, 76, 196, 0.5)",
                                  "rgba(255, 159, 6, 0.5)",
                                  "rgba(74, 70, 64, 0.5)",
                                    ],
                borderColor: [
                                  "rgba(240, 96, 96, 1)",
                                  "rgba(81, 184, 245, 1)",
                                  "rgba(8, 145, 39, 1)",
                                  "rgba(215, 224, 0, 0.5)",
                                  "rgba(255, 76, 196, 1)",
                                  "rgba(255, 159, 6, 1)",
                                  "rgba(74, 70, 64, 1)",
                                  ],
                hoverBackgroundColor: [
                                  "rgba(240, 96, 96, 1)",
                                  "rgba(81, 184, 245, 1)", 
                                  "rgba(8, 145, 39, 1)", 
                                  "rgba(215, 224, 0, 1)",
                                  "rgba(255, 76, 196, 1)",
                                  "rgba(255, 159, 6, 1)",
                                  "rgba(74, 70, 64, 1)",
                                  ],
                borderWidth: 1,
                //グラフのデータ
                data: [
                  #{current_user.decorate.dev(arr_x1, 1)},
                  #{current_user.decorate.dev(arr_x2, 2)},
                  #{current_user.decorate.dev(arr_x3, 3)},
                  #{current_user.decorate.dev(arr_x4, 4)},
                  #{current_user.decorate.dev(arr_x5, 5)},
                  #{current_user.decorate.dev(arr_x6, 6)},
                  #{current_user.decorate.dev(arr_x7, 7)},
                ]
              } 
            ]
          },
    options: {
      indexAxis: 'y',
        // レスポンシブ指定
      responsive: true,
      plugins: {
        legend : {
          display : false, 
        },
      }
    }
  });    
  