= bar_chart [['[文字列]みんなの平均', all_user_average_score(1)]],
  colors: ["#b00","#0b0"],
            max: 100,
            min: 0,
            height: "100px",
            xtitle: "平均点",
            empty: "まだデータがありません"