
= bar_chart [['[文字列]you', current_user.decorate.average_score(1)],
          ['[文字列]others', all_user_average_score(1)],
          ['[数値]you', current_user.decorate.average_score(2)],
          ['[数値]others', all_user_average_score(2)],
          ['[配列]you', current_user.decorate.average_score(3)],
          ['[配列]others', all_user_average_score(3)],
          ['[ハッシュ]you', current_user.decorate.average_score(4)],
          ['[ハッシュ]others', all_user_average_score(4)],
          ['[総合]you', current_user.decorate.average_score(5)],
          ['[総合]others', all_user_average_score(5)],
          ['[応用]you', current_user.decorate.average_score(6)],
          ['[応用]others', all_user_average_score(6)],
          ['[正規表現]you', current_user.decorate.average_score(7)],
          ['[正規表現]others', all_user_average_score(7)]],
          colors: ["#b00","#0b0"],
          max: 100,
          min: 0,
          height: "250px",
          empty: "まだデータがありません",
          name: "aaa"