li.nav-item role="presentation" 
  a.nav-link aria-controls="#{content}" aria-selected="#{tf}" data-bs-toggle="pill" href="##{content}" role="tab" id="#{content}_tab" class="#{active}"
    = "#{word}"