@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "top";
@import "flash";
@import "question";
@import "errors";
@import "swiper";


.gradation{
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.border{
  border-radius: 50%;
}

body{
  margin: auto;
  text-align: center;
}

.form-group{
  margin: auto;
}

.title-header{
  margin: 15px;
  font-size: 30px;
  font-weight: bold;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.btn{
  vertical-align: initial;
}

.input-group{
  width: 300px;
}

.form-group{
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 15px 50px;
}

.ml-30{
  margin-left: 30px;
}

.ml-10{
  margin-left: 10px;
}

.ml-5{
  margin-left: 5px;
}
