@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "top";
@import "question";
@import "swiper-effect";
@import "modal";
@import "flash";
@import "variable";


body{
  margin: 0;
  padding: 0;
  text-align: center;
}

header{
  width: 100%;
  padding: 15px 5% 5px;
  display: flex;
  align-items: center;
  background-color: #f8eef6;
}

footer{
  margin-top: 10px;
  width: 100%;
  padding: 5px 5%;
  background-color: #a3dee8;
}

h1{
  font-size: $big-font;
}

a{
  text-decoration: none;
  color: #4b4b4b;
}

ul{
  list-style: none;
  margin: 0;
  display: flex;
  > li{
    margin: 0 0 0 15px;
    font-size: $basic-font;
  }
}

nav{
  margin: 0 0 0 auto;
}


.gradation{
  color: #DA8E00;
  background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
  
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-group{
  width: 300px;
}

@media screen and (max-width: 600px) {
  ul{
    > li{
      margin: 0 0 0 5px;
      font-size: $small-font;
    }
  }
      
  h1{
    font-size: $basic-font;
  }
}
  
  