@import "index";

.message{
  list-style: none;
  text-align: center;
  background-color: orangered;
  border: solid 1px #ff0000;  
  border-radius: 5px;
  padding: 0;
}

.message ul li{
  color: #fff;
  text-align: center;
  list-style: none;
}

.flash_error{
  @include error-message
}