.flash_error{
  list-style: none;
  background-color: $failure-color;
  color: $white;
  border-radius: 5px;
}

.alert-mydanger{
  background-color: $failure-color;
  border: solid 3px darken($failure-color, 5%);
  color: $white;
  padding: 0;
}

.alert-mysuccess{
  background-color: $success-color;
  border: solid 3px darken($success-color, 5%);
  color: $white;
  padding: 0;
}