.modal-title{
  font-size: $big-font;
  font-weight: bold;
}

.btn-link{
  text-decoration: none;
  font-size: $basic-font;
  color: #4b4b4b;
}

.ranking-content{
  margin-bottom: 10px;
  border-bottom: 2px rgb(236, 165, 12) solid;
}

.image-font{
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.image-object{
  margin-top: 5px;
  height: 200px;
  border-radius: 5px solid red;
}


@media screen and (max-width: 600px) {
  .btn-link{
    font-size: $small-font;
  }
  
  .image-object{
    height: 130px;
  }
}