.modal-title,
.term-title{
  font-size: $big-font;
  font-weight: bold;
}

.btn-link{
  text-decoration: none;
  font-size: $basic-font;
  color: #4b4b4b;
}

.image-font{
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.term-sentence{
  font-size: $basic-font;
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .btn-link{
    font-size: $small-font;
  }
  
  .image-font{
    height: 15px;
  }
  
  .term-title{
    font-size: $basic-font;
  }
  
  .term-sentence{
    font-size: $small-font;
    line-height: 1rem;
  }
}