@import 'variable';

.question-title{
  @include question-title-form;
  font-size: $basic-font;
}

.question-content{
  @include question-content-form;
  font-size: $basic-font;
}

.choice-content-tag{
  @include choice-content-tag-form;
  font-size: $basic-font;
}

.choice-content{
  background-color: $choice-color;
  border: 1px solid black;
  margin-bottom: .4rem;
  padding: 10px 10px;
}

.form-check-label{
  width: 100%;
}

.choice-content-box{
  @include content-box-form;
  background-color: $choice-color;
}

.question-content-box{
  @include content-box-form;
  background-color: $question-color;
}


.correct{
  @include correct-form; 
  background-color: $success-color;
}

.uncorrect{
  @include correct-form;  
  background-color: $failure-color;
}
  
@media screen and (max-width: 600px) {


  .question-content{
    @include question-content-form;
    font-size: $small-font;
  }
  
  .question-title{
    @include question-title-form;
    font-size: $small-font;
  }
  
  .choice-content{
    font-size: $small-font;
    padding-bottom: 1px;
  }

}