.swiper-container {
  width: 700px;
  height: 350px;
  border: 1px solid black;
  margin-left: 30px;
}

@media screen and (max-width: 1100px) {
  .swiper-container {
    width: 600px;
    height: 300px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 600px) {
  .swiper-container {
    width: 300px;
    height: 150px;
    border: 1px solid black;
  }
}