@import 'index';

.swiper {
  width: 700px;
  margin-left: 30px;
}

.swiper-effect-1{
  @include border-swiper;
  border: solid 3px #F06060;
}

.box-title-1 {
  @include title-swiper;
  color: #F06060;
}

.swiper-effect-2{
  @include border-swiper;
  border: solid 3px skyblue;
}

.box-title-2 {
  @include title-swiper;
  color: skyblue;
}

.swiper-effect-3{
  @include border-swiper;
  border: solid 3px green;
}

.box-title-3 {
  @include title-swiper;
  color: green;
}

.swiper-effect-4{
  @include border-swiper;
  border: solid 3px yellowgreen;
}

.box-title-4 {
  @include title-swiper;
  color: yellowgreen;
}

.swiper-effect-5{
  @include border-swiper;
  border: solid 3px palevioletred;
}

.box-title-5 {
  @include title-swiper;
  color: palevioletred;
}

.swiper-effect-6{
  @include border-swiper;
  border: solid 3px peru;
}

.box-title-6 {
  @include title-swiper;
  color: peru;
}

.swiper-custom-parent{
  position: relative;
}

.swiper-custom-button{
  background-image: none;
  font-size: 30px;
  text-align: center;
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: none !important;
}

.box-container{
  font-size: 15px;
  margin: 10px;
  text-align: left;
}

.box-content{
  font-size: 15px;
  text-align: left;
  background-color: #E6D8CA;
  border: 1px solid black;
  margin-bottom: 15px;
  padding: 15px;
  white-space: pre;
}

.box-choice_content{
  text-align: left;
  background-color: #F7E9E9;
  border: 1px solid black;
  margin-bottom: .4rem;
  font-size: 8px;
  padding: 10px;
  white-space: pre;
}

@media screen and (max-width: 1100px) {
  .swiper {
    width: 600px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 300px;
    margin-left: 30px;
  }
  
  .box-container{
    font-size: 8px;
    margin: 5px;
    text-align: left;
  }
  
  .box-content{
    font-size: 10px;
    text-align: left;
    background-color: #E6D8CA;
    border: 1px solid black;
    margin-bottom: 8px;
    padding: 8px;
    white-space: pre;
  }
  
  .box-choice_content{
    text-align: left;
    background-color: #F7E9E9;
    border: 1px solid black;
    margin-bottom: .4rem;
    font-size: 8px;
    padding: 10px;
    white-space: pre;
  }
}
