@import 'variable';

@each $i,$color in $colorList {
  .container-disabled-title-#{$i}{
    background-color: $color;
	  color: $white;
    display: inline-block;
    text-decoration:none;
    font-size: 18px;
    border-radius: 6px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px ;
  }
  
  
  .swiper-effect-#{$i}{
    @include border-swiper;
    border: solid 3px $color;
  }

  .box-title-#{$i} {
    @include title-swiper;
    color: $color;
  }
}

.swiper {
  width: 550px;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
  content: none !important;
}

.space{
  width: 800px;
  margin: auto;
  margin-top: 70px;
}

.chart-space{
  width: 550px; 
  margin: auto;
  }
  
@media screen and (max-width: 1100px) {
  .swiper {
    width: 600px;
  }
  .space{
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 300px;
  }
  
  .space{
    width:  300px;
  }
  
  .chart-space{
    width: 300px;
  }
  @each $i,$color in $colorList{
    .container-disabled-tag-#{$i} {
      padding-top: 4px;
    }
  }
}
    
  
