@import "index";

.title{
  font-size: $big-font;
  font-weight: bold;
  margin: 10px 0;
}

@media screen and (max-width: 1100px) {
  .flex{
    display: inline-block;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .title{
    font-size: $basic-font;
  }
  .sub-title{
    font-size: $small-font;
  }
}
  
  
  