@import "index";
.disabled-title{
  color: inherit;
  text-decoration:none;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 50px;
  &:hover{
    color: inherit;
    text-decoration:none;
  }
}


.container-disabled-tag {
	position: relative;
	padding: 0.1em 0.5em;
	display: inline-block;
  font-size: 12px;
  text-decoration: none;
  background-color: blue;
  color: white;
  border-radius: 8px;
  margin-left: 3px;
  &:hover{
    color: lightgray;
  }
}
// --------------------------------------------
.container-disabled-title-1 {
	@include relative-title;
	color: #F06060;
  &:hover{
    color: #F06060;
  }
}

.container-disabled-title-1::before,
.container-disabled-title-1::after {
	@include absolute-title;
	background-color: #F06060;
}

.container-disabled-title-1::before {
	top: 0;
	left: 0;
}

.container-disabled-title-1::after {
  bottom: 0;
	right: 0;
}
.container-disabled-title-1:hover::before,
.container-disabled-title-1:hover::after {
  width: 100%;
}

// ------------------------------------------------
.container-disabled-title-2 {
	@include relative-title;
	color: skyblue;
  &:hover{
    color: skyblue;
  }
}

.container-disabled-title-2::before,
.container-disabled-title-2::after {
	@include absolute-title;
	background-color: skyblue;
}

.container-disabled-title-2::before {
	top: 0;
	left: 0;
}

.container-disabled-title-2::after {
	bottom: 0;
	right: 0;
}
.container-disabled-title-2:hover::before,
.container-disabled-title-2:hover::after {
	width: 100%;
}

// ------------------------------------------------

.container-disabled-title-3 {
	@include relative-title;
	color: green;
  &:hover{
    color: green;
  }
}

.container-disabled-title-3::before,
.container-disabled-title-3::after {
	@include absolute-title;
	background-color: green;
}

.container-disabled-title-3::before {
	top: 0;
	left: 0;
}

.container-disabled-title-3::after {
	bottom: 0;
	right: 0;
}
.container-disabled-title-3:hover::before,
.container-disabled-title-3:hover::after {
	width: 100%;
}

// ------------------------------------------------

.container-disabled-title-4 {
	@include relative-title;
	color: yellowgreen;
  &:hover{
    color: yellowgreen;
  }
}

.container-disabled-title-4::before,
.container-disabled-title-4::after {
	@include absolute-title;
	background-color: yellowgreen;
}

.container-disabled-title-4::before {
	top: 0;
	left: 0;
}

.container-disabled-title-4::after {
	bottom: 0;
	right: 0;
}
.container-disabled-title-4:hover::before,
.container-disabled-title-4:hover::after {
	width: 100%;
}

// ------------------------------------------------

.container-disabled-title-5 {
	@include relative-title;
	color: palevioletred;
  &:hover{
    color: palevioletred;
  }
}

.container-disabled-title-5::before,
.container-disabled-title-5::after {
	@include absolute-title;
	background-color: palevioletred;
}

.container-disabled-title-5::before {
	top: 0;
	left: 0;
}

.container-disabled-title-5::after {
	bottom: 0;
	right: 0;
}
.container-disabled-title-5:hover::before,
.container-disabled-title-5:hover::after {
	width: 100%;
}

// ------------------------------------------------

.container-disabled-title-6 {
	@include relative-title;
	color: peru;
  &:hover{
    color: peru;
  }
}

.container-disabled-title-6::before,
.container-disabled-title-6::after {
	@include absolute-title;
	background-color: peru;
}

.container-disabled-title-6::before {
	top: 0;
	left: 0;
}

.container-disabled-title-6::after {
	bottom: 0;
	right: 0;
}
.container-disabled-title-6:hover::before,
.container-disabled-title-6:hover::after {
	width: 100%;
}

// ------------------------------------------------
.sub-tutle{
  font-size: 20px;
}

.flex{
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.flex-header{
  margin-top: 35px;
}

.header-container{
  @include header-footer;
}

.footer-container{
  @include header-footer
}

.modal-container{
  text-decoration: none;
  font-size: 15px;
  margin-left: 0px;
  color: gray;
  padding: 0;
}

.top-left{
  width: 40%;
  margin-left: 0;
  margin-bottom: 50px;
}

.top-right{
  width: 60%;
  margin-bottom: 50px;
}

.image-font{
  height: 25px;
  display: inline-block;
}

.wrap{
  display: inline-block;
  align-items: flex-start;
  font-size: 25px;
  margin-bottom: 10px;
}

.wraper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.under{
  background: linear-gradient(transparent 50%, yellow 50%);
}
  
hr {
  margin: 0;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ccc;
}

.title{
  font-weight: bold;
}


@media screen and (max-width: 1100px) {
  .flex{
    display: inline-block;
    margin: auto;
  }
  .top-left{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
  .top-right{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  
  .container-disabled-title{
    color: inherit;
    text-decoration:none;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    &:hover{
      color: inherit;
      text-decoration:none;
    }
  } 
  
  .sub-title{
    font-size: 12px;
  }
}
  