.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: black;
}

.was-validated .form-check-input:invalid, .form-check-input.is-invalid {
  border-color: gray;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: black;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: gray;
}

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: #0d6efd;
}
