$colorList:(1:#F06060, 2:#51b8f5, 3:#089127, 4:#d7e000, 5:#ff4cc4, 6:#ff9f06, 7:#4a4640);
$answer-colorList:(1:#F06060, 2:#51b8f5, 3:#089127, 4:#d7e000, 5:#ff9f06, 6:#4a4640);
$big-font: 30px;
$basic-font: 15px;
$small-font: 8px;

$white: #FFF;
$choice-color: #FFF;
$question-color: #FFF;

$failure-color: #FF4500;
$success-color: #24eb35;